body{
    font-family: 'Darumadrop One', cursive;
    text-align: center;
}

.reiniciar{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: #0b132b;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.2s ease-in-out;
}

.reiniciar:hover{
    background-color: #ff073a;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}

.reiniciar:active{
    background-color: #640d14;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transform: translateY(1px); 
}

.reiniciar:focus{
    outline: none; 
}